/* Style for the entire navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.596);
}

/* Style for the logo */
.logo img {
  width: 50px;
  height: auto;
}

/* Container for the buttons */
.nav-buttons {
  display: flex;
  gap: 15px;
}

/* Style for the buttons */
button {
  background-color: #ffda79;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Friendly hover effect for buttons */
button:hover {
  background-color: #ffc107;
}

/* Style for home and profile buttons */
/* .home-btn,
.profile-btn {
  color: #333;
} */