<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="custom-sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="nav-item" *ngFor="let item of navItems" (click)="onNavigate(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span> <!-- Labels will fade in on hover -->
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>