.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 150px;
  background-color: #000;
  color: white;
  padding: 16px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.nav-item span {
  margin-left: 10px;
}

.icon-button {
  color: white;
}

.post-button {
  background-color: #1d9bf0;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.post-button:hover {
  background-color: #1a8edb;
}



.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

.nav-item:hover {
  transform: translateX(10px);
  /* Move item 10px to the right on hover */
  background-color: #f5f5f5;
  /* Change background color on hover */
}

.nav-item mat-icon {
  margin-right: 10px;
  transition: color 0.3s ease;
  /* Icon color transition on hover */
}

.nav-item:hover mat-icon {
  color: #1976d2;
  /* Change the icon color on hover */
}

.nav-item span {
  font-size: 16px;
  transition: color 0.3s ease;
  /* Label color transition on hover */
}

.nav-item:hover span {
  color: #1976d2;
  /* Change label color on hover */
}